body {
    margin-top: 60px; 
}

.navbar i {
    font-size: 1.2rem;
    cursor: pointer;
}

.navbar input {
    border-radius: 20px 0px 0px 20px;
    cursor: pointer;
}

.navbar button{
    border-radius: 0px 20px 20px 0px;
    margin-left: 0px;
    border: 1px solid gray;
}

.filter-buttons {
    margin-left: 270px;
    display: flex;
    margin-top: 100px;
    position: sticky;
    top: 1px;
    gap: 20px;
    overflow-x: auto;
    white-space: nowrap;
    padding: 10px;
    background: white;
}

.filter-buttons button {
    border-radius: 20px;
}

.sidebar {
    overflow-y: scroll;
    height: 100vh;
    width: 20%;
    position: fixed;
    top: 86px;
    padding-top: 10px;
}

.sidebar .nav-link {
    font-size: 1rem;
    color: #333;
}

.sidebar .nav-link:hover {
    background-color: #f8f9fa;
    border-radius: 5px;
}

.content{
    width: 80%;
    margin-left: 270px;
    overflow-y: auto;
    column-gap: 50px;
    margin-top: 50px;
}

.categories {
    white-space: nowrap;
}

.categories button {
    margin-right: 10px;
    margin-top: 20px;
}

.video-card iframe {
    border-radius: 10px;
}
.video-card {
    margin-bottom: 20px;
    row-gap: 0px;
}